# files/directories of this pipeline to ignore
.snakemake/
workflow/singularities/
config/config.yaml
config/pep/config.yaml
config/pep/samples.csv
workflow/profiles/default/config.yaml

# mkdocs documentation
/site

# OS X stuff
*.DS_Store
